# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# Environment
.env
*.env
*.venv
*.virtualenv

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Output files
output/
